/* button shiny */

.button_shiny{
    margin-top: 10%;
    border: none;
    width: 100%;
    padding: 10%;
    border-radius: 20px;
 

}

/* .button_shiny:hover{

    color: white;
    background-color: black;
} */