*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

.App{
 display: flex;
  }

.contain{
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}